/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { font-size: 16px; }

.navbar {
  margin-bottom: 0;
  min-height: 80px;
}

.navbar-inverse .navbar-brand {
  padding: 29px 15px;
  font-size: 20px;
  line-height: 22px;
  height: 80px;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 29px;
  padding-bottom: 29px;
}

.header {
  background: #1bb45e;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.header h1 { margin: 0; }

.main { padding-top: 40px; }

form .actions { text-align: right; }

.home {
  background: #1bb45e;
  color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 250px;
}
.home .subtitle { font-size: 21px; }
.home .call-to-action { margin-top: 60px; }
.home .call-to-action .btn-default {
  background: transparent;
  color: white;
  border: 3px solid white;
}
.home .call-to-action a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.cite {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.cite p {
  color: #ccc;
  font-size: 21px;
  margin-top: 20px;
}

.activities-list { margin-top: 30px; }

.projects .projects-list { margin-top: 30px; }
